exportPattern("^[[:alpha:]]+")

# Funciones públicas del paquete
export(descarga_enoe)
export(carga_enoe)
export(fusion_enoe)
export(info_trimestre)
export(descargar_cuestionarios)
export(ipc_enoe)
export(procesar_vars_sociodemo)
export(procesar_vars_hogar)
export(procesar_variables_enoe)
export(drop_tri)
export(crear_folios)

# Paquetes y funciones importadas
import(dplyr)
importFrom(arrow, write_parquet)
importFrom(haven, write_dta)
importFrom(httr, GET)
importFrom(httr, http_error)
importFrom(httr, write_disk)
importFrom(readr, locale)
importFrom(readr, read_csv)
importFrom(sjlabelled, set_label)
importFrom(sjlabelled, set_labels)
importFrom(stats, setNames)
importFrom(stringr, str_remove)
importFrom(tools, file_path_sans_ext)
importFrom(utils, download.file)
importFrom(utils, read.csv)
importFrom(utils, unzip)
