exportPattern("^[[:alpha:]]+")
export(descarga_enoe)
export(carga_enoe)
export(fusion_enoe)
export(info_trimestre)
export(descargar_cuestionarios)

import(dplyr)
importFrom(arrow, write_parquet)
importFrom(haven, write_dta)
importFrom(httr, GET)
importFrom(httr, http_error)
importFrom(httr, write_disk)
importFrom(readr, locale)
importFrom(readr, read_csv)
importFrom(sjlabelled, set_label)
importFrom(sjlabelled, set_labels)
importFrom(stats, setNames)
importFrom(stringr, str_remove)
importFrom(tools, file_path_sans_ext)
importFrom(utils, download.file)
importFrom(utils, read.csv)
importFrom(utils, unzip)
